.topbar{
    width: 100%;
    margin-top: 15px;
}

.topbarWrapper{
    display: flex;

}

.topbarLeft{
    flex: 3;
    padding-left: 30px;
}

.topbarCenter{
    flex: 6;
    padding-right: 100px;
}

.topbarRight{
    flex: 3;
}

.topbarLeftImg{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-right: 5px;
    border: 1px solid black;
}

.EName{
    color: rgb(6, 6, 6);
    font-weight: 800;
    font-size: 24px;
}

.EDetails{
    color: rgb(228, 223, 223);
    font-size: 14px;
}

.topbarRight{
    justify-content: space-between; 
    padding-left: 40px;
}

.iconContainer{
    align-items: center;
    /* text-align: center; */
}

.icon{
    color: rgb(211, 68, 68);
    font-size: 30px !important;
    padding-right: 15px;
}

.iconDetails{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
}

.style{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}